.header {
    overflow: hidden;
    position: fixed;
    height: 50px;
    width: 100%;
    border: #707070 solid;
    border-width: 1px 0px 1px 0px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
}

.header-content {
    height: 100%;
}

.header-return {
    line-height: 50px;
    cursor: pointer;
    margin-left: 75px;
    position: absolute;
}

.header-return .header-return-label {
    float: left;
}

.header-return:hover .header-return-label a {
    text-decoration: underline;
}

.header-return .header-return-label a {
    text-decoration: none;
    color: #434343;
    margin-left: 3px;
    font-size: 16px;
    float: left;
    user-select: none;
    -webkit-user-select: none;
}

.header-return svg {
    width: 20px;
    float: left;
    margin-top: calc((50px / 2) - 13px);
    color: #434343;
}

.header-logo-container {
    transition: ease-out 0.1s;
    margin-top: calc(-31px - (25px - (50px * 0.6) / 2));
    text-align: center;
}

.cEditor-toolbar-container {
    text-align: center;
}

.header-logo img {
    user-select: none;
    -webkit-user-select: none;
    height: 60%;
    margin-top: calc(25px - (50px * 0.6) / 2)
}